@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
p {
  font-size: 16px;
}
body {
  position: relative;
}
.landing-container {
  height: 100vh;
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  transition: 0.5s all;
}
.landing-container::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 620px;
  height: 100vh;
  left: -70px;
  top: -120px;
  border-radius: 0 0 400px 400px;
  transition: 0.5s;
  background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
}
/* Phone */
.phone-container {
  display: flex;
  align-items: center;
}
.phone {
  border: 12px solid hsl(0, 0%, 100%);
  border-radius: 40px;
  width: 280px;
  z-index: 1;
  height: 600px;
  background: hsl(270, 20%, 96%);
  box-shadow: 2px 10px 60px 2px rgba(0, 0, 0, 0.2);
}
/* Nav Bar start */
.nav-container {
  background: linear-gradient(
    to left,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  border-radius: 30px 30px 7px 7px;
  height: 13%;
  display: flex;
  align-items: flex-end;
  position: relative;
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.nav-container::before {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  left: 23%;
  width: 55%;
  height: 35%;
  border-radius: 0 0 16px 16px;
  background: hsl(0, 0%, 100%);
}
.nav-container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 12px;
}
.nav-container .arrow-top {
  width: 12px;
  transform: rotate(-180deg);
}
.nav-container .profile-picture {
  width: 26px;
  height: 26px;
  border: 2px solid hsl(270, 20%, 96%);
  border-radius: 50%;
  margin: 0 -60px 0 -60px;
}
.nav-container .nav-text {
  color: hsl(270, 20%, 96%);
}
.nav-container .nav-text .name {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 2px;
}
.nav-container .nav-text .status {
  font-size: 10px;
  color: hsl(270, 20%, 96%);
  margin-top: 2px;
}
.nav-container .menu {
  width: 15px;
  position: relative;
}
.nav-mas {
  position: relative;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  animation: vista 2s 5s reverse;
}
@keyframes vista {
  from {
    background: transparent;
  }
  to {
    background: hsl(276, 100%, 30%);
  }
}
.nav-mas .menu-active {
  display: none;
}
.nav-mas.active {
  background: hsl(276, 100%, 70%);
}
.nav-mas.active .menu-active {
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 36px;
  width: 190px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0px 20px 20px;
  background: hsl(270, 20%, 96%);
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
  animation: nav-mas 0.2s;
}
.nav-mas.active .menu-active a {
  text-decoration: none;
  color: hsl(276, 55%, 52%);
}
.nav-mas.active .menu-active img {
  width: 20px;
  margin: -2px 7px 0 0;
}
@keyframes nav-mas {
  from {
    transform: scaleY(0);
    opacity: 0;
    right: 0px;
    top: 0px;
  }
  to {
    opacity: 1;
    right: 30px;
    top: 36px;
    transform: scaleY(1);
  }
}
/* Nav Bar end */

/* Chat section start */
.chat-container {
  background: hsl(270, 20%, 96%);
  height: 87%;
  width: 100%;
  border-radius: 0 0 30px 30px;
}
.chat-container .content {
  width: 95%;
  height: 98%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.chat-text-left,
.chat-text-right {
  padding: 6px 0;
  width: 100%;
  display: flex;
}
.chat-text-left {
  justify-content: flex-start;
}
#one,
#two,
#three,
#for,
#five,
#six,
#seven,
#eight {
  position: relative;
  left: 0;
  bottom: 0;
}
#one {
  animation: chat-left 0.5s 0.2s forwards;
  opacity: 0;
}
#two {
  animation: chat-left 0.5s 0.7s forwards;
  opacity: 0;
}
#three {
  animation: chat-right 0.5s 1.2s forwards;
  opacity: 0;
}
#for {
  animation: chat-right 0.5s 1.7s forwards;
  opacity: 0;
}
#five {
  animation: chat-right 0.5s 2.2s forwards;
  opacity: 0;
}
#six {
  animation: chat-right 0.5s 2.7s forwards;
  opacity: 0;
}
#seven {
  animation: chat-left 0.5s 3.2s forwards;
  opacity: 0;
}
#eight {
  animation: chat-left 0.5s 3.7s forwards;
  opacity: 0;
}
@keyframes chat-left {
  from {
    transform: scaleY(0);
    opacity: 0;
    left: -10px;
    bottom: -30px;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
    left: 0px;
    bottom: 0px;
  }
}
@keyframes chat-right {
  from {
    transform: scaleY(0);
    opacity: 0;
    right: -10px;
    bottom: -30px;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
    left: 0px;
    bottom: 0px;
  }
}
.chat-text-right {
  justify-content: flex-end;
}
.chat-text-left:first-child {
  padding-top: 14px;
}
.chat-text-left p,
.chat-text-right p {
  font-size: 9px;
  max-width: 50%;
  padding: 8px 10px;
  display: inline-block;
  line-height: 14px;
}
.chat-text-left p {
  background: hsl(0, 0%, 91%);
  color: hsl(276, 55%, 61%);
  border-radius: 10px 10px 10px 3px;
}
.chat-text-right p {
  background: hsl(0, 0%, 100%);
  color: hsl(271, 15%, 43%);
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px 10px 3px 10px;
}

.stickers-container {
  display: flex;
  justify-content: flex-end;
  padding: 6px 0;
  width: 95%;
  margin: auto;
}
.stickers-container img {
  width: 50px;
  margin-left: 10px;
  border-radius: 10px;
}

.price-container {
  width: 95%;
  margin: 0 0;
}
.price-container .content {
  user-select: none;
  background: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  width: 70%;
  height: 26px;
  display: grid;
  grid-template-columns: 1fr 4fr 1.5fr;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0;
  padding: 7px 5px;
  border-radius: 10px 10px 10px 4px;
  color: hsl(270, 20%, 96%);
}
.price-container .content:first-child {
  margin-top: 10px;
}
.price-container .content .checkbox {
  display: none;
}
.price-container .content .switch {
  border: 1px solid rgba(255, 255, 255, 0.7);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: transparent;
  margin-left: 5px;
  cursor: pointer;
}
.price-container .content .checkbox:checked ~ .switch {
  background: #fff;
}
.price-container .content p {
  font-size: 8px;
  font-weight: 500;
}
.price-container .content span {
  font-size: 12px;
  font-weight: 700;
}

.input-container {
  background: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  margin-top: 10px;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.03);
}
.input-container p {
  color: hsl(206, 6%, 79%);
  font-size: 10px;
  padding-left: 20px;
}
.input-container .buttom {
  background: hsl(271, 36%, 24%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-container .buttom img {
  width: 11px;
  height: 11px;
  padding: 0 0 0 2px;
}
/* Chat section end */

/* Description section start */
.text-container {
  width: 100%;
}
.tex-container-title {
  color: hsl(271, 36%, 24%);
  font-size: 47px;
  font-weight: 500;
  margin: 15px 0;
  transition: 0.5s;
}
.tex-container-description {
  color: hsl(270, 7%, 64%);
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
  transition: 0.5s;
}
/* Description section start */
/* Phone end */
@media only screen and (max-width: 1440px) {
  .landing-container {
    width: 90%;
  }
  .landing-container::after {
    left: -300px;
  }
  .phone-container {
    justify-content: center;
  }
  .text-container {
    width: 70%;
  }
}
@media only screen and (max-width: 1024px) {
  .landing-container {
    width: 80%;
  }
  .landing-container::after {
    left: -350px;
  }
  .phone-container {
    justify-content: center;
  }
  .text-container {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .landing-container {
    width: 90%;
  }
  .landing-container::after {
    left: -450px;
  }
  .phone-container {
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 740px) {
  .landing-container {
    height: 100%;
  }
  .landing-container {
    grid-template-columns: 1fr;
    width: 85%;
  }
  .phone-container {
    justify-content: center;
    margin: 50px 0;
  }
  .text-container {
    margin-bottom: 50px;
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  /* inicia */
  .phone {
    width: 250px;
    height: 500px;
    border-radius: 35px;
  }
  .nav-container {
    border-radius: 23px 23px 7px 7px;
  }
  .nav-container::before {
    border-radius: 0 0 14px 14px;
  }
  .nav-container .content {
    padding-bottom: 7px;
  }
  .nav-container .arrow-top {
    width: 11px;
  }
  .nav-container .profile-picture {
    width: 24px;
    height: 24px;
    margin: 0 -40px 0 -40px;
  }
  .nav-container .nav-text .name {
    font-size: 12px;
  }
  .nav-container .nav-text .status {
    font-size: 9px;
  }
  .nav-mas {
    margin-right: -7px;
  }
  .nav-mas.active .menu-active {
    right: 25px;
  }
  @keyframes nav-mas {
    from {
      transform: scaleY(0);
      opacity: 0;
      right: 0px;
      top: 0px;
    }
    to {
      opacity: 1;
      right: 25px;
      top: 36px;
      transform: scaleY(1);
    }
  }
  .chat-text-left,
  .chat-text-right {
    padding: 2px 0;
  }
  .chat-text-left:first-child {
    padding-top: 10px;
  }
  .chat-text-left p,
  .chat-text-right p {
    font-size: 9px;
    padding: 6px 10px;
    line-height: 13px;
  }

  .stickers-container {
    padding: 2px 0;
    margin: 0;
  }
  .price-container .content {
    height: 24px;
    padding: 4px 5px;
  }
  .price-container .content:first-child {
    margin-top: 2px;
  }

  .input-container {
    border-radius: 40px;
    height: 35px;
  }
  .input-container .buttom {
    width: 26px;
    height: 26px;
  }
  /* termina */
  .landing-container::after {
    left: -410px;
  }
  .tex-container-title {
    font-size: 40px;
    margin: 0 0 15px 0;
  }
  .tex-container-description {
    font-size: 16px;
    line-height: 26px;
  }
}
@media only screen and (max-width: 400px) {
  .landing-container::after {
    left: -425px;
  }
}
@media only screen and (max-width: 330px) {
  .landing-container {
    width: 95%;
  }
  .landing-container::after {
    left: -450px;
  }
}
